* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.img {
  display: block;
}

a {
  text-decoration: none;
  color: unset;
}

.pdp-cont {
  height: 30%;
  width: 25%;
}


.search-button:hover {
  background-color: rgb(21, 101, 192);
  transition: 500ms;
}


.footer-link-container-t {
  border-right: 1px solid rgb(21, 101, 192);
  padding-right: 15px;
  min-height: 5vh;
}


.footer-link-container-f {
  height: 5vh;
}

.price {
  margin-left: 10px;
}










